<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycx26.base.process.mapper.ProcRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mycx26.base.process.entity.ProcRole">
        <id column="id" property="id" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="order_no" property="orderNo" />
        <result column="description" property="description" />
        <result column="creator_id" property="creatorId" />
        <result column="create_time" property="createTime" />
        <result column="modifier_id" property="modifierId" />
        <result column="modify_time" property="modifyTime" />
        <result column="yn" property="yn" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_code, role_name, order_no, description, creator_id, create_time, modifier_id, modify_time, yn
    </sql>

    <select id="getList" parameterType="com.mycx26.base.process.service.query.ProcRoleQuery" resultMap="BaseResultMap">
        select
        r.*
        from flow_proc_role r
        left join flow_proc_role_user u
        on r.role_code = u.role_code
        <where>
            <if test="roleQuery.roleName != null and roleQuery.roleName != ''">
                and <![CDATA[locate(#{roleQuery.roleName}, r.role_name) > 0]]>
            </if>
            <if test="roleQuery.userId != null and roleQuery.userId != ''">
                and <![CDATA[locate(#{roleQuery.userId}, u.user_id) > 0]]>
            </if>
        </where>
        group by r.role_code
    </select>

</mapper>
