<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycx26.base.flow.mapper.ProcFormViewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mycx26.base.process.entity.ProcFormView">
        <id column="id" property="id" />
        <result column="view_name" property="viewName" />
        <result column="view_key" property="viewKey" />
        <result column="main_resolver" property="mainResolver" />
        <result column="sub_resolver" property="subResolver" />
        <result column="creator_id" property="creatorId" />
        <result column="create_time" property="createTime" />
        <result column="modifier_id" property="modifierId" />
        <result column="modify_time" property="modifyTime" />
        <result column="yn" property="yn" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, view_name, view_key, main_resolver, sub_resolver, creator_id, create_time, modifier_id, modify_time, yn
    </sql>

</mapper>
