<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycx26.base.process.mapper.ProcDefMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mycx26.base.process.entity.ProcDef">
        <id column="id" property="id" />
        <result column="proc_def_key" property="procDefKey" />
        <result column="proc_def_name" property="procDefName" />
        <result column="main_form" property="mainForm" />
        <result column="sub_form" property="subForm" />
        <result column="flow_no_prefix" property="flowNoPrefix" />
        <result column="is_internal" property="internal" />
        <result column="detail_view_key" property="detailViewKey" />
        <result column="is_lock_resource" property="lockResource" />
        <result column="resource_key" property="resourceKey" />
        <result column="is_cancel" property="cancel" />
        <result column="is_light_view" property="lightView" />
        <result column="is_show_todo" property="showTodo" />
        <result column="is_show_query" property="showQuery" />
        <result column="description" property="description" />
        <result column="engine_key" property="engineKey" />
        <result column="engine_id" property="engineId" />
        <result column="order_no" property="orderNo" />
        <result column="creator_id" property="creatorId" />
        <result column="create_time" property="createTime" />
        <result column="modifier_id" property="modifierId" />
        <result column="modify_time" property="modifyTime" />
        <result column="yn" property="yn" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, proc_def_key, proc_def_name, main_form, sub_form, flow_no_prefix, is_internal, detail_view_key,
        is_lock_resource, resource_key, is_cancel, is_light_view, is_show_todo, is_show_query,
        description, engine_key, engine_id, order_no, creator_id, create_time, modifier_id, modify_time, yn
    </sql>

</mapper>
